.page.page-clients{
  .bar.clients-search-bar{
    .button.button-clear{
      margin-left: 5px;
      .icon:before{
        font-size: 28px;
      }
    }
  }  
}
.page.page-edit-product{
  .input-label {
    width: 45%
  }
  input {
    widows: 55%;
  }
}