.page.page-send-mail{
  .item{
    padding:5px;
    border: none;
    .input-label{
      text-align: left;
      width: 30%;
    }
    textarea {
      padding: 5px;
      border: 1px solid #ddd;
      height: 200px;
      border-radius: 4px;
    }
  }
  .item-separator{
    div{
      white-space: pre;
      text-align: left;
      border-radius:5px;
      border:1px solid #ddd;
      padding:5px;
      a{
        text-decoration: #0000ff;
        color: #0000ff;
      }
    }
  }
}
